<%= form_with(model: medical_record) do |form| %>
  <% if medical_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% medical_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mrec_id, style: "display: block" %>
    <%= form.number_field :mrec_id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :problem, style: "display: block" %>
    <%= form.text_field :problem %>
  </div>

  <!--<div>
    <#%= form.label :pat_id, style: "display: block" %>
    <#%= form.number_field :pat_id %>
  </div>

  <div>
    <#%= form.label :doc_id, style: "display: block" %>
    <#%= form.number_field :doc_id %>
  </div> -->
  <div>
    <%= form.label :pat_id, style: "display: block" %>
    <%= form.select :pat_id, Patient.pluck(:pname, :pat_id), prompt: "Виберіть пацієнта" %>
  </div>

  <div>
    <%= form.label :dock_id, style: "display: block" %>
    <!--<#%= form.select :doc_id, Doctor.pluck(:dname, :dock_id), prompt: "Виберіть доктора" %>-->
    <%= form.collection_select(:doc_id, Doctor.all, :dock_id, :dname, include_blank: true) %>
  </div>

  <div>
    <%= form.label :medical_card_id, style: "display: block" %>
    <%= form.select :medical_card_id, MedicalCard.pluck(:medical_card_id), prompt: "Виберіть медичну карту" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
