<div id="<%= dom_id medical_record %>">
  <!--<p>
    <strong>Mrec:</strong>
    <#%= medical_record.mrec_id %>
  </p>-->

  <p>
    <strong>Date:</strong>
    <%= medical_record.date %>
  </p>

  <p>
    <strong>Problem:</strong>
    <%= medical_record.problem %>
  </p>

  <p>
    <strong>Pat:</strong>
    <%= medical_record.pat_id %>
  </p>

  <p>
    <strong>Doc:</strong>
    <%= medical_record.doc_id %>
  </p>

</div>
