<div id="<%= dom_id hospital %>">
  <p>
    <strong>Rank:</strong>
    <%= hospital.rank %>
  </p>

  <p>
    <strong>name:</strong>
    <%= hospital.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hospital.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hospital.city %>
  </p>

</div>
