<div id="<%= dom_id hospital %>">
  <p>
    <strong>Hid:</strong>
    <%= hospital.hid %>
  </p>

  <p>
    <strong>Hname:</strong>
    <%= hospital.hname %>
  </p>

  <p>
    <strong>Haddress:</strong>
    <%= hospital.haddress %>
  </p>

  <p>
    <strong>Hphone:</strong>
    <%= hospital.hphone %>
  </p>

</div>
