<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #f8f9fa; padding: 10px; border-bottom: 2px solid #6c757d;">
          <h1 class="display-4 text-muted">HOSPITALAPP</h1>
          <% if user_signed_in? %>
            <div>
              <span class="alert alert-success" role="alert">
                Залогований користувач: <%= current_user.email %>
              </span>
              <%= link_to "Вийти", destroy_user_session_path, method: :delete, class: "btn btn-primary ml-3" %>
            </div>
          <% else %>
            <div class="alert alert-warning" role="alert">
              Для того, щоб увійти або зареєструватися
              <%= link_to "Увійти або зареєструватися", new_user_session_path, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <% if user_signed_in? && current_user.doctor? %>
            <div class="text-center mb-3"> <!-- Додаємо клас text-center тут -->
              <%= link_to "Керування лікарнями", hospitals_path, class: "btn btn-primary" %>
              <%= link_to "Керування лікарями", doctors_path, class: "btn btn-primary" %>
              <%= link_to "Керування пацієнтами", patients_path, class: "btn btn-primary" %>
            </div>
          <% end %>
          <h1 class="display-4">Hospitals</h1>
          <div class="list-group">
            <% @hospitals.each do |hospital| %>
              <div class="list-group-item">
                <h2 class="display-5"><%= hospital.name %></h2>
                <p class="mb-1">Rank: <%= hospital.rank %></p>
                <p class="mb-1">Country: <%= hospital.country %></p>
                <p class="mb-1">City: <%= hospital.city %></p>
                <p class="mb-1">URL: <%= link_to @hospital.name, hospital_url(@hospital) %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
