<div class="card-body">
  <h1 class="display-4"><%= t('hospitals.title') %></h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><%= t('hospitals.name') %></th>
        <th><%= t('hospitals.rank') %></th>
        <th><%= t('hospitals.country') %></th>
        <th><%= t('hospitals.city') %></th>
        <th><%= t('hospitals.visit') %></th>
      </tr>
      </thead>
      <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%= hospital.name %></td>
          <td><%= hospital.rank %></td>
          <td><%= hospital.country %></td>
          <td><%= hospital.city %></td>
          <td><%= link_to "Visit", hospital_url(hospital), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
