<% if user_signed_in? %>
  <p>Ви вже увійшли в систему.
  <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
  </p>
  
  <p>Залогований користувач: <%= current_user.email %></p>
  <%= link_to "Керування лікарнями", hospitals_path %>
  <%= link_to "Керування лікарями", doctors_path %>
<% else %>
  <p>Для того, щоб увійти або зареєструватися</p>
  <%= link_to "Увійти або зареєструватися", new_user_session_path %>
<% end %>

<h1>Hospitals</h1>

<ul>
  <% @hospitals.each do |hospital| %>
    <li>
      <h2><%= hospital.name %></h2>
      <p>Rank: <%= hospital.rank %></p>
      <p>Country: <%= hospital.country %></p>
      <p>City: <%= hospital.city %></p>
      <p>URL: <%= link_to hospital.url, hospital.url %></p>
    </li>
  <% end %>
</ul>
