<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pat_id %>
    <%= form.text_field :pat_id %>
  </div>

  <div class="field">
    <%= form.label :pname %>
    <%= form.text_field :pname %>
  </div>

  <div class="field">
    <%= form.label :padress %>
    <%= form.text_field :padress %>
  </div>

  <div class="field">
    <%= form.label :pphone %>
    <%= form.text_field :pphone %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
