<div id="<%= dom_id patient %>">
  <p>
    <strong>Pat:</strong>
    <%= patient.pat_id %>
  </p>

  <p>
    <strong>Pname:</strong>
    <%= patient.pname %>
  </p>

  <p>
    <strong>Padress:</strong>
    <%= patient.padress %>
  </p>

  <p>
    <strong>Pphone:</strong>
    <%= patient.pphone %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Doc:</strong>
    <%= patient.doc_id %>
  </p>

</div>
