<!DOCTYPE html>
<html>
<head>
  <title>HospitalsApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" %>
  <style>
      body {
          background-color: #f8f9fa;
      }
      .card {
          margin-top: 50px;
      }
      .card-header {
          background-color: #6c757d;
          color: #fff;
      }
  </style>
</head>

<body>
<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Видаляємо клас col-md-8 -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <!-- Змінено посилання -->
          <h1 class="display-4"><a href="/" style="color: #fff; text-decoration: none;">HOSPITALAPP</a></h1>
          <% if user_signed_in? %>
            <div>
                <span class="alert alert-success" role="alert">
                  Залогований користувач: <%= current_user.email %>
                </span>
              <%= link_to "Вийти", destroy_user_session_path, method: :delete, class: "btn btn-primary ml-3" %>
            </div>
          <% else %>
            <div class="alert alert-warning" role="alert">
              Для того, щоб увійти або зареєструватися
              <%= link_to "Увійти або зареєструватися", new_user_session_path, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <% if user_signed_in? && current_user.doctor? %>
            <div class="text-center mb-3">
              <%= link_to "Керування лікарнями", hospitals_path, class: "btn btn-primary" %>
              <%= link_to "Керування лікарями", doctors_path, class: "btn btn-primary" %>
              <%= link_to "Керування пацієнтами", patients_path, class: "btn btn-primary" %>
            </div>
            <hr>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>