<div id="<%= dom_id medical_card %>">
  <p>
    <strong>Medical card:</strong>
    <%= medical_card.medical_card_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= medical_card.patient_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= medical_card.doctor_id %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= medical_card.hospital_id %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= medical_card.diagnosis %>
  </p>

</div>
