<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Editing medical card</h2>
        </div>

        <% if current_user.patient? %>
          <%= form_for @medical_card do |form| %>
            <div class="form-group">
              <%= form.label :appointment_date, "Appointment Date" %>
              <%= form.datetime_field :appointment_date, class: 'form-control', value: @medical_card.appointment_date.strftime("%Y-%m-%d %H:%M") %>
            </div>

            <div class="actions">
              <%= form.submit "Save Changes", class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="mt-3">
        <%= link_to "Show this medical card", @medical_card, class: 'btn btn-secondary' %> |
        <%= link_to "Back to medical cards", medical_cards_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
