<div id="<%= dom_id doctor %>">
  <p>
    <strong>Dock:</strong>
    <%= doctor.dock_id %>
  </p>

  <p>
    <strong>Dname:</strong>
    <%= doctor.dname %>
  </p>

  <p>
    <strong>Spec:</strong>
    <%= doctor.spec %>
  </p>

  <p>
    <strong>Dphone:</strong>
    <%= doctor.dphone %>
  </p>

  <p>
    <strong>Hos:</strong>
    <%= doctor.hospital.name %>
  </p>

</div>